---
export interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<div class="relative flex w-full overflow-x-hidden border-b-2 border-t-2 border-border bg-secondary-background text-foreground font-base">
  <div class="animate-marquee-very-slow whitespace-nowrap py-12">
    {items.map((item) => (
      <span class="mx-4 text-4xl">
        {item}
      </span>
    ))}
  </div>

  <div class="absolute top-0 animate-marquee2-very-slow whitespace-nowrap py-12">
    {items.map((item) => (
      <span class="mx-4 text-4xl">
        {item}
      </span>
    ))}
  </div>
</div>
